@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;flex-direction: column;
}

#search{
    width: 90vw;
    padding:10px 30px;
    border: 1px solid rgb(131, 131, 131);
    margin: 0 20px;
    margin-top: 60px;
    font-size: 1.5rem;
}
#menu{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
}
#menu li{
    list-style-type: none;
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 9px 30px;
}
#menu li:hover{
    background-color: rgb(221, 221, 221);
}
#menu a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#result-not-found{
    width: 90vw;
    padding: 9px 30px;
    background-color: rgb(241, 241, 241);
    margin: 0 20px;
    font-size: 1.5rem;
}

.footer{
   margin-top: 20px;
}
